@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body{
    margin: 0;
    padding: 0;
    background: black !important;
    font-family:'DM sans' , sans-serif !important;
}
body h1{
    font-family: 'Abril Fatface', cursive;
}



/* START OF NAV LIST */
.navbar-toggler{
    background: white !important;
}

.navbar{
    position: sticky;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #5b0000;
    height: 100%;
}
.nav-link{
    text-decoration: none;
    font-family:'DM sans' , sans-serif;
    color: white !important;
}

.logo{
    height: 100%;
    width: 100px;
}
.logo img{
    width: 100%;
}
.your-cart{
    color: goldenrod;
}


.cart{
    border: 2px black solid;
    border-radius:2px ;
    background: white;
    color: black !important;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0 auto 0;
    font-size: small;
    text-align: center;
}
.cart:hover{
    background: black;
    border: 2px solid  white;
    color: white;
}

/* END OF NAV LIST */

.hero{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38vh;
    font-family: 'Abril Fatface', cursive;
}
.hero h1{
    font-size: 50px;
    font-family: 'Abril fatface';
}
.shop-card-hero{
    width: 100%;
    height: 50vh;
    background: #5b0000;
    background-image: url(../img/Banner\ 1.png);
    background-size: cover;
}
#subscribeButton{
	background-color: #5b0000;
	color: white;
}

.about h1{
    color: white;
}
.about{
    height: 38vh;
    height: 100%;    
}
.featured{
    color: white;
}
/* FOOTER     */
/*
.footer-uppper{
    height: 50vh;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.about-info{
    width: 30%;
    color: aliceblue;
    padding-left:100px ;
}
.about-info img {
    width: 90px;
}
.footer-nav{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
}
.fa-solid{
    color: goldenrod;
}
.footer-nav-list{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    text-decoration:none;
}
.footer-nav-list a{
    color: aliceblue;
    text-decoration: none;
    padding:10px 0 10px 0 ;
}
*/

.card{
    background: #5b0000 !important;
}
.Subscribe{
    width: 854px;
}
.newsletter{
    width: 100%;
}

.footer-lower{
    height: 5vh;
    width: 100%;
    background: #5b0000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}
.social-medias a{
    text-decoration: none;
    color: white;
}


/* added for footer */
.fa-solid{
    color: goldenrod;
}
.upper_side img {
    width: 90px;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.flex li{
	flex:1;
	margin-right:16px;
    font-family:'DM sans' , sans-serif;
    color: aliceblue !important;
}
.title{
	display: block;
	margin-bottom: 8px;
	color: goldenrod !important;
	font-size: 22px;
	letter-spacing: 1.4px;
    font-family: 'Abril Fatface', cursive;
}
footer{
	width: 100%;
	height: 100%;
	color: aliceblue !important;
	background-color: black !important;
}
footer a{
    color: aliceblue !important;
}
footer a:hover{
    color: goldenrod !important;
}
footer .wrap{
	width: 80%;
	margin: auto;
	padding: 40px 0;
    list-style: none;
}
footer .wrap .upper_side ul.flex li{
	padding: 4px 0;
    list-style: none;
}

@media all and (max-width:1023px) and (min-width:768px){
	
	footer .wrap{
		width: 90%;
	}
}
@media all and (max-width:767px){

    .flex{
        flex-direction:column;
    }
    .title{
		font-size: 18px;
	}
	footer .wrap{
		width: 95%;
		min-width:320px;
	}
    footer .wrap .upper_side ul.flex li{
		position: relative;
		padding:8px 0;
	}
    footer .wrap .upper_side ul.flex li.first_depth > p:before{
		position: absolute;
		top: -1px;
		right: 0;
		padding: 5px 8px;
		content:'\f0d7';
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		color:#fff;
		font-size:24px;
		cursor: pointer;
	}
    footer .wrap .upper_side ul.flex li.first_depth.on > p:before{
		transform: rotate(180deg);
	}
    footer .wrap .upper_side ul.flex li.first_depth > p:after{
		display: block;
		content:'';
		width: 100%;
		padding-top:8px;
		border-bottom:1px solid rgba(255,255,255,0.5);
	}
    footer .wrap .upper_side ul.second_depth{
		height: 0;
		display:none;
	}
    footer .wrap .upper_side li.first_depth.on ul.second_depth{
		height: auto;
		display: block;
	}
}



/* added for carousel */


@media (max-width: 767px) {
    .footer-upper{
        grid-template-columns: 1fr;
    }
    .footer-nav{
        grid-template-columns: 1fr;
    }

    /* JAVES INPUT */

    .newsletter{
        flex-direction: column;
    }
    .w-25{
        width: 80%;
    }
    .subscribeButton{
        width: 50%;
    }

    /* JAVES INPUT */



    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
    
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    .Subscribe-input{
        width: 50%;
    }


    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
    transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
    }
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
    transform: translateX(0);
    }
}



/* added for carousel */