@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

/* <!-- CONTENT START HERE --> */

nav{
	background: #000000;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}















/* <!-- CONTENT END HERE --> */