@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

/* <!-- CONTENT START HERE --> */

.product-info{
    
    width: 100%;
    height:auto;
    display: flex;
    color: white;
    margin-bottom: 60px;
}
.product-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 25px;
}
.product-img{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productname{
    color: goldenrod;
}
.product-imgs-container{
    height: 25%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.product-imgs-container img{
    height:100px;
}
.product-description{
    padding: 25px;
    width: 60%;
}
.reviews{
    display: flex;
    flex-direction: row;
}
.reviews-number{
    padding: 0 20px;
}
.accordion{
    position: relative;
}
.add-to-cart{
    color: black;
    background: goldenrod;
    
}
.buy-now{
    background: #5b0000;
    color: white;
    width: 100px;
}
.product-price{
    display: flex;
    flex-direction: row;
}
.product-price a{
    text-decoration: none;
    padding: 10px;
}
.wtp p,h1{
    text-align: center;
}
.add{
    margin-left: 100px;
}
.similar-products{
    position: relative;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.product-card{
    display: flex;
    flex-direction: row;
    flex: 5;
    width: 25%;
}
.similar-products img{
    width: 200px ;
}
.card-name h3{
    font-size: 20px;
}
.add-to-cart-similar {
    text-decoration: none;
    background: #5b0000;
    color: white;
    padding: 5px;
}
/* <!-- CONTENT END HERE --> */
